---
layout: default
title: Investigadores
---

<div class="page-title-box clearfix">
	<!--<span id="type" class="tittle-pagina">{{ page.title }}</span>-->
</div>

  
  {% for r in site.data.acreditados %}
      <p class="list"> 
      	 <h4><strong>{{ r.nombre }}</strong></h4>  
     		 <ul class="list">
      	 {% for b in r.bio %}
       		 <li>{{ b }}</li>
      	 {% endfor %}
      	 </ul>
      </p>
      <p class="list">Línea de investigación: {{ r.linea }}<br />
      Correo electrónico: <a href="{{ r.email }}">{{ r.email }}</a><br />
      <a href="{{ r.cv }}" target="_blank" alt="CV {{ r.investigador }}">Ver Curriculum Vitae</a></p>
      <hr>

  {% endfor %}

        
