
        
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            
            <div class="item active">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-hackathon.jpg" alt="UCSP y La Positiva Seguros organizan Hackathon para promover el desarrollo de soluciones digitales innovadoras" title="UCSP y La Positiva Seguros organizan Hackathon para promover el desarrollo de soluciones digitales innovadoras" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="https://ucsp.edu.pe/saladeprensa/informa/ucsp-y-la-positiva-seguros-organizan-hackathon-para-promover-el-desarrollo-de-soluciones-digitales-innovadoras/" target="_blank"><h5 style="margin-bottom:10px;">UCSP y La Positiva Seguros organizan Hackathon para promover el desarrollo de soluciones digitales innovadoras</h5></a>
                                            <span>Un espacio para el desafío y las ideas innovadoras representa la Hackathon – La Positiva. Este concurso se realizará por primera vez en Arequipa gracias a la unión de la Universidad Católica San Pablo,......</span><br />
                                            <span class="fecha-slider">11/10/2017</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>                  
            
            
            
            
            
            
            
            
            
            
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-graduacion-maestria.jpg" alt="Primeros magísteres en Ciencia de la Computación formados en Perú se graduaron en la UCSP" title="Primeros magísteres en Ciencia de la Computación formados en Perú se graduaron en la UCSP" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="https://ucsp.edu.pe/saladeprensa/informa/primeros-magisteres-en-ciencia-de-la-computacion-formados-en-peru-se-graduaron-en-la-ucsp/" target="_blank"><h5 style="margin-bottom:10px;">Primeros magísteres en Ciencia de la Computación formados en Perú se graduaron en la UCSP</h5></a>
                                            <span>Seis estudiantes de la primera promoción de la maestría en Ciencia de la Computación dictada por la Universidad Católica San Pablo se graduaron y convirtieron en los primeros magísteres......</span><br />
                                            <span class="fecha-slider">02/10/2017</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>            
            
                
				<div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-pasantias.jpg" alt="Escuela de Ciudades Inteligentes en Brasil becó a alumnos de maestría en Ciencia de la Computación de la UCSP" title="Escuela de Ciudades Inteligentes en Brasil becó a alumnos de maestría en Ciencia de la Computación de la UCSP" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="https://ucsp.edu.pe/saladeprensa/informa/escuela-de-ciudades-inteligentes-en-brasil-beco-a-dos-alumnos-de-maestria-en-ciencia-de-la-computacion-de-la-ucsp/" target="_blank"><h5 style="margin-bottom:10px;">Escuela de Ciudades Inteligentes en Brasil becó a alumnos de maestría en Ciencia de la Computación de la UCSP</h5></a>
                                            <span>Rogger Peralta Aranibar y Gina Muñoz Salas son los únicos peruanos que ganaron una beca para realizar una estancia en la Escuela de Ciencias Avanzadas para Ciudades Inteligentes de Sao Paulo, Brasil......</span><br />
                                            <span class="fecha-slider">12/07/2017</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
			
				
				
				
				
				<div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-magnet.jpg" alt="Usando la computación buscan resolver problemas urbanos de Arequipa" title="Usando la computación buscan resolver problemas urbanos de Arequipa" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/saladeprensa/informa/usando-la-computacion-buscan-resolver-problemas-urbanos-de-arequipa/" target="_blank"><h5 style="margin-bottom:10px;">Usando la computación buscan resolver problemas urbanos de Arequipa</h5></a>
                                            <span>En  Arequipa podríamos olvidarnos de los atolladeros a causa del tránsito, de los problemas por el crecimiento urbano desordenado y hasta reducir la delincuencia, entre otros.....</span><br />
                                            <span class="fecha-slider">24/05/2016</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
				
				
				<div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-jose-de-la-fuente.jpg" alt="En Perú necesitamos más emprendedores que se la jueguen para atraer inversión en el campo digital" title="“En Perú necesitamos más emprendedores que se la jueguen para atraer inversión en el campo digital”" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/en-peru-necesitamos-mas-emprendedores-que-se-la-jueguen-para-atraer-inversion-en-el-campo-digital/" target="_blank"><h5 style="margin-bottom:10px;">“En Perú necesitamos más emprendedores que se la jueguen para atraer inversión en el campo digital”</h5></a>
                                            <span>Jose de la Fuente empezó a emprender en negocios digitales antes de cumplir la mayoría de edad. A sus 24 años tiene.....</span><br />
                                            <span class="fecha-slider">29/01/2016</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-startup-grind-enero-2016.jpg" alt="UCSP y Alta El Dorado: Un año promoviendo las startups en Arequipa" title="UCSP y Alta El Dorado: Un año promoviendo las startups en Arequipa" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/ucsp-y-alta-el-dorado-un-ano-promoviendo-las-startups-en-arequipa/" target="_blank"><h5 style="margin-bottom:10px;">UCSP y Alta El Dorado: Un año promoviendo las startups en Arequipa</h5></a>
                                            <span>Innovación, emprendimiento y tecnología son las claves de las startups. Un nuevo modo de hacer negocios principalmente digitales.....</span><br />
                                            <span class="fecha-slider">27/01/2016</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-becas.jpg" alt="UCSP otorgará becas integrales para maestría en Ciencia de la Computación" title="UCSP otorgará becas integrales para maestría en Ciencia de la Computación" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/ucsp-otorgara-becas-integrales-para-maestrias-en-ciencia-de-la-computacion/" target="_blank"><h5 style="margin-bottom:10px;">UCSP otorgará becas integrales para maestría en Ciencia de la Computación</h5></a>
                                            <span>El programa de maestría que dirige el Centro de Investigación e Innovación en Ciencia de la Computación.....</span><br />
                                            <span class="fecha-slider">27/01/2016</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-huesos.jpg" alt="Software para evaluación y diagnóstico de huesos a partir de imágenes tridimensionales es diseñado por la UCSP" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/software-para-evaluacion-y-diagnostico-de-huesos-a-partir-de-imagenes-tridimensionales-es-disenado-por-la-ucsp/" target="_blank"><h5 style="margin-bottom:10px;">Software para evaluación y diagnóstico de huesos a partir de imágenes tridimensionales es diseñado por la UCSP</h5></a>
                                            <span>Un software que permite la creación de modelos tridimensionales de los huesos a partir de imágenes generadas...</span><br />
                                            <span class="fecha-slider">30/12/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class=" col-xs-12 col-sm-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-bmc.jpg" alt="Equipo de la UCSP logró segundo lugar en concurso nacional de emprendimiento" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/alumnos-ucsp-lograron-segundo-lugar-en-concurso-nacional-de-emprendimiento/" target="_blank"><h5 style="margin-bottom:10px;">Equipo de la UCSP logró segundo lugar en concurso nacional de emprendimiento</h5></a>
                                            <span>“Eventus” es el nombre del proyecto con el que el equipo de la Universidad Católica San Pablo (UCSP) obtuvo...</span><br />
                                            <span class="fecha-slider">29/12/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-bmc.jpg" alt="Ganadores del concurso Business Model Competition (BMC)" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/investigacion/ganadores-del-concurso-bmc/" target="_blank"><h5 style="margin-bottom:10px;">Ganadores del concurso Business Model Competition (BMC)</h5></a>
                                            <span>El miércoles 2 de diciembre finalizó el concurso Business Model Competition (BMC), organizado por el...</span><br />
                                            <span class="fecha-slider">07/12/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-linio.jpg" alt="Cofundador de Linio: “Un emprendimiento es una innovación, no una invención”" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/cofundador-de-linio-un-emprendimiento-es-una-innovacion-no-una-invencion/" target="_blank"><h5 style="margin-bottom:10px;">Cofundador de Linio: “Un emprendimiento es una innovación, no una invención”</h5></a>
                                            <span>“Muchos piensan que para desarrollar un emprendimiento, más que de una innovación se requiere de una invención...</span><br />
                                            <span class="fecha-slider">17/11/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-clausura-clei.jpg" alt="Arequipa fue centro latinoamericano en informática" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/arequipa-fue-centro-latinoamericano-en-informatica-2/" target="_blank"><h5 style="margin-bottom:10px;">Arequipa fue centro latinoamericano en informática</h5></a>
                                            <span>“La Conferencia Latinoamericana en Informática – CLEI 2015, concluyó la mañana del 23 de octubre...</span><br />
                                            <span class="fecha-slider">02/11/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-clei.jpg" alt="Arequipa se convertirá en el centro de la informática y computación en octubre" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/arequipa-se-convertira-en-el-centro-de-la-informatica-y-computacion-en-octubre/" target="_blank"><h5 style="margin-bottom:10px;">Arequipa se convertirá en el centro de la informática y computación en octubre</h5></a>
                                            <span>Arequipa vuelve a destacar como centro de la computación e informática en el Perú. En esta oportunidad...</span><br />
                                            <span class="fecha-slider">27/01/2016</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-acm.jpg" alt="Perú entre los mejores de Latinoamérica en el mundial de programación de la ACM" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/peru-entre-los-mejores-de-latinoamerica-en-el-mundial-de-programacion-de-la-acm/" target="_blank"><h5 style="margin-bottom:10px;">Perú entre los mejores de Latinoamérica en el mundial de programación de la ACM</h5></a>
                                            <span>El mundial de programación de la ACM (ICPC por sus siglas en inglés) es la competencia...</span><br />
                                            <span class="fecha-slider">13/07/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <div class="col-item">
                                <div class="photo">
                                    <img class="img-responsive" src="/img/noticias/not-initbmc.jpg" alt="UCSP lanza concurso para financiar emprendimientos de universitarios" />
                                </div>
                                <div class="info">
                                    <div>
                                        <div class="price">
                                            <a href="http://ucsp.edu.pe/ucsp-y-alta-el-dorado-un-ano-promoviendo-las-startups-en-arequipa/" target="_blank"><h5 style="margin-bottom:10px;">UCSP lanza concurso para financiar emprendimientos de universitarios</h5></a>
                                            <span>Los jóvenes universitarios tendrán la oportunidad de plantear ideas para sus propios negocios y desarrollarlas gracias al...</span><br />
                                            <span class="fecha-slider">18/05/2015</span>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic"
                            data-slide="next"></a>
                </div>
            </div>
        </div>


