            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li {% if page.path == "equipo-de-investigadores.html" %}class="active"{% endif %}><a href="/equipo-de-investigadores.html">Equipo de investigadores</a></li>
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/proyectos/proyecto-desarrollo-de-un-kit-de-robotica-educativo-con-mejores-caracteristicas-tecnologicas-y-versatilidad-de-materiales-y-con-facilidad-para-el-soporte-tecnico.html">Proyecto: Desarrollo de un kit de robótica educativo, con mejores características tecnológicas y versatilidad de materiales y con facilidad para el soporte técnico</a></li>
                    <li><a href="/proyectos/proyecto-desarrollo-de-una-flota-de-robots-terrestres-semi-autonoma-controlada-por-una-central-movil-para-busqueda-de-personas.html">Proyecto: Desarrollo de una flota de robots terrestres semi-autónoma, controlada por una central móvil, para búsqueda de personas</a></li>
                    <li><a href="/proyectos/proyecto-sociologia-en-internet-desarrollo-de-una-metodologia-general-de-analisis-de-opinion-publica-usando-herramientas-de-mineria-de-texto-proyecto-internacional-entre-peru-rusia-y-espana.html">Proyecto: Sociología en Internet: Desarrollo de una metodología general de análisis de opinión pública usando herramientas de Minería de Texto (proyecto internacional entre Perú, Rusia y España</a></li>
                    <li><a href="/proyectos/desarrollo-de-un-sistema-inteligente-de-supervision-remota-para-monitoreo-de-signos-vitales-en-pacientes-de-riesgos-y-personas-interesadas-en-cuidar-su-salud.html">Proyecto: Desarrollo de un Sistema Inteligente de Supervisión Remota para monitoreo de signos vitales en pacientes de riesgos y personas interesadas en cuidar su salud</a></li>
                    <li><a href="/proyectos/sistema-hibrido-inteligente-del-analisis-procesamiento-visualizacion-y-exploracion-de-datos-geo.html">Proyecto: Sistema Híbrido Inteligente del análisis, procesamiento, visualización y exploración de datos geo -referenciados, referentes al monitoreo de unidades de transporte interprovincial de pasajeros, usando técnicas de minería de datos y visualización</a></li>
                    <li><a href="/proyectos/latin-latin-american-open-textbooks-initiative.html">Proyecto: LATIN – Latin American Open Textbooks Initiative</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestría en Ciencia de la Computación<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/maestriacc/presentacion.html">Presentación</a></li>
                  <li><a href="/maestriacc/perfil-del-ingresante.html">Perfil del Ingresante</a></li>
                  <li><a href="/maestriacc/perfil-del-egresado.html">Perfil del Egresado</a></li>
                  <li><a href="/maestriacc/plan-de-estudios.html">Plan de estudios</a></li>
                  <li><a href="/maestriacc/plana-docente-y-colaboradores.html">Plana docente y colaboradores</a></li>
                  <li><a href="/maestriacc/proceso-de-admision.html">Proceso de Admisión</a></li>
                  <li><a href="/maestriacc/preguntas-frecuentes.html">Preguntas frecuentes</a></li>
                  <li><a href="/maestriacc/alumnos-ingresantes.html">Alumnos Ingresantes</a></li>
                  <li><a href="/maestriacc/proceso-de-admision-2.html">Proceso de Admisión 2014-II</a></li>
                  <li><a href="/maestriacc/alumnos-ingresantes-2.html">Alumnos Ingresantes 2014-II</a></li>
                  <li><a href="/maestriacc/resolucion-anr.html">Resolución ANR</a></li>
                </ul>
                </li>
                <li {% if page.path == "contacto.html" %}class="active"{% endif %}><a href="/contacto.html">Contacto</a></li> 
              </ul>
            </div>
