            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nosotros<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                    <a href="/nosotros/presentacion.html">Nosotros</a>
                    </li>
                    <li role="separator" class="divider hidden-xs"></li>
                    <li>
                    <a href="/nosotros/declaracion-responsabilidad.html">Declaración de responsabilidad</a>
                    </li>
                  </ul>
                </li>
                <li {% if page.path == "people.html" %}class="active"{% endif %}><a href="/proyectos/index.html">Proyectos</a></li>
                <li {% if page.path == "people.html" %}class="active"{% endif %}><a href="/mcs/index.html">Maestría</a></li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="http://cs.ucsp.edu.pe/" target="_blank">Escuela Profesional</a></li>   
                <!--<li {% if page.path == "research.html" %}class="active"{% endif %}><a href="/csx/">Extensión</a></li>-->             
                <li {% if page.path == "education.html" %}class="active"{% endif %}><a href="/nuestro-equipo.html">Nuestro Equipo</a></li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="/publicaciones.html">Publicaciones</a></li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="/eventos/">Eventos</a></li>
                
                 <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="/contacto.html">Contacto</a></li>
              </ul>
            </div>
