<div class="share-page">
  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Compartir:
  <br />
  <a href="http://twitter.com/share?text=Becas%20de%20Maestría%20en%20Ciencia%20de%20la%20Computación%20UCSP-Arequipa%20:" target="_blank" title="Compartir en Twitter"><i class="fa fa-twitter-square fa-3x" style="color:#00ACED;"></i></a>
  
  <a href="https://facebook.com/sharer.php?u=rics.ucsp.edu.pe{{ page.url }}" rel="nofollow" target="_blank" title="Compartir en Facebook"><i class="fa fa-facebook-square fa-3x" style="color:#3B5999;"></i></a>
  
  <a href="https://plus.google.com/share?url=rics.ucsp.edu.pe{{ page.url }}" rel="nofollow" target="_blank" title="Compartir Google+"><i class="fa fa-google-plus-square fa-3x" style="color:#DD4E42;"></i></a>
  
  <div class="social-links"><a href="whatsapp://send?text= Becas de Maestría en Ciencia de la Computación UCSP-Arequipa : http://rics.ucsp.edu.pe{{ page.url }}" data-text="Becas de Maestría en Ciencia de la Computación UCSP-Arequipa : " data-action="share/whatsapp/share" class="wa_btn wa_btn_s" ><i class="fa fa-whatsapp fa-3x" style="color:#34bf49;"></a></div>
  
</div>
