<!-- BEGIN #footer-wrapper -->
    <div id="footer-wrapper">

    	<!-- BEGIN #footer-inner -->
    	<div class="container" id="footer-inner">
			<div class="arrow-down" id="content-down-arrow"></div>

			<div class="row">
				<div class="col-3 widget-column"><div id="text-9" class="widget-item widget_text"><div class="widget-title"><h4 class="widget-title-inner">Pregrado</h4></div>			<div class="textwidget"><ul>

<li><a href="http://ucsp.edu.pe/administracion">Administración de Negocios</a></li>
<li><a href="http://ucsp.edu.pe/contabilidad">Contabilidad</a></li>
<li><a href="http://cs.ucsp.edu.pe/">Ciencia de la Computación</a></li>
<li><a href="http://ucsp.edu.pe/iet">Ing. Electrónica y de Telecomunicaciones</a></li>
<li><a href="http://ucsp.edu.pe/industrial">Ingeniería Industrial</a></li>
<li><a href="http://ucsp.edu.pe/derecho">Derecho</a></li>
<li><a href="http://ucsp.edu.pe/educacion">Educación</a></li>
<li><a href="http://ucsp.edu.pe/psicologia">Psicología</a></li>
<li><a href="http://ucsp.edu.pe/civil">Ingeniería Civil</a></li>
<li><a href="http://ucsp.edu.pe/asuntosestudiantiles">Asuntos Estudiantiles</a></li>
</ul></div>
		</div></div><div class="col-3 widget-column"><div id="text-10" class="widget-item widget_text"><div class="widget-title"><h4 class="widget-title-inner">Extensión Universitaria</h4></div>			<div class="textwidget"><ul>

<li><a href="http://ucsp.edu.pe/formacioncontinua">Formación Continua para la Empresa</a></li>

<li><a href="http://ucsp.edu.pe/auladelsaber">Aula del Saber</a></li>

<li><a href="http://ucsp.edu.pe/idiomas">Centro de Idiomas</a></li>

<li><a href="http://liderazgo.ucsp.edu.pe/">Centro de Liderazgo para el Desarrollo</a></li>

<li><a href="http://ucsp.edu.pe/proyectoseducativos">Proyectos Educativos</a></li>

<li><a href="http://ucsp.edu.pe/ojpii">Observatorio Juan Pablo II</a></li>

</ul></div>
		</div></div><div class="col-3 widget-column"><div id="text-11" class="widget-item widget_text"><div class="widget-title"><h4 class="widget-title-inner">Investigación</h4></div>			<div class="textwidget"><ul>
<li><a href="http://ucsp.edu.pe/investigacion">Dirección de Investigación</a></li>
<li><a href="http://estudiosperuanos.ucsp.edu.pe/">Centro de Estudios Peruanos</a></li>
<li><a href="http://ucsp.edu.pe/cpsc">Centro de Pensamiento Social Católico</a></li>
<li><a href="http://ucsp.edu.pe/fondoeditorial">Fondo Editorial</a></li>
<li><a href="http://ucsp.edu.pe/imf">Instituto para el Matrimonio y la Familia</a></li>
<li><a href="http://ucsp.edu.pe/iem">Instituto de Energía y Medio Ambiente</a></li>
<li><a href="http://cicc.ucsp.edu.pe/">Centro de Investigación en Ciencia de la Computación</a></li>
<li><a href="http://ucsp.edu.pe/cegob">Centro de Gobierno Jose Luis Bustamante y Rivero</a></li>
</ul></div>
		</div></div><div class="col-3 widget-column"><div id="text-12" class="widget-item widget_text"><div class="widget-title"><h4 class="widget-title-inner">Accesos principales</h4></div>			<div class="textwidget"><ul>

<li><a href="http://centrodecolocaciones.ucsp.edu.pe/">Centro de Colocaciones</a></li>
<li><a href="http://ucsp.edu.pe/biblioteca">Biblioteca</a></li>
<li><a href="http://gmail.ucsp.edu.pe/">San Pablo Mail</a></li>
<li><a href="http://academico.ucsp.edu.pe/">Portal Académico</a></li>
<li><a href="http://ucsp.edu.pe/calidadyacreditacion">Calidad y Acreditación</a></li>
<li><a href="http://ucsp.edu.pe/admision">Admisión</a></li>
<li><a href="http://ucsp.edu.pe/informa">UCSP Informa</a></li>
<li><a href="http://ucsp.edu.pe/archivos/plano_de_ubicacion.pdf">Plano de ubicación</a></li>
<li><a href="http://ucsp.edu.pe/ieee/">Rama Estudiantil IEEE</a></li>
<li><a href="http://ucsp.edu.pe/agenda-para-el-desarrollo-de-arequipa/">Agenda para el Desarrollo de Arequipa</a></li>
<li><a href="http://ucsp.edu.pe/formas-de-pago/">Ahora tienes más formas de pago</a></li>
</ul></div>
		</div></div>			</div>
        </div>
        <!-- END #footer-inner -->

   	</div>
	<!-- END #footer-wrapper -->
	

		<!-- BEGIN #copyright-line -->
	<div id="copyright-line">
		<div class="container clearfix"> 
						<p id="copyright" class="floatleft">Todos los Derechos Reservados 2015 © · <a href="http://www.ucsp.edu.pe/">Universidad Católica San Pablo</a> | <a href="http://ucsp.edu.pe/terminosycondiciones/">Términos y Condiciones</a></p>
			
			<div id="bottom-nav-wrapper" class="floatright"><ul id="bottom-nav" class="menu"><li id="menu-item-2342" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1111 current_page_item menu-item-2342 c_ home-3-menu-color home-3-menu-hover-color"><span>/</span><a href="http://rics.ucsp.edu.pe/">Inicio</a></li>
<li id="menu-item-2461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461 c_ contacto-menu-color contacto-menu-hover-color"><span>/</span><a href="http://rics.ucsp.edu.pe/contacto.html">Contacto</a></li>
</ul></div>		</div>
	</div>
	<!-- END #copyright-line -->