
<!-- Custom CSS CICC-->
.banner-slider{
margin-left: -10px;
margin-right: -10px;
}

.list-image {
width:70%;
margin-left:150px;
}

.image-eventos {
width:764px;
margin-left:125px;
}

p.list{margin-bottom: 0; font-family:PT Sans; font-size:13px;}
ul.list{margin-bottom: 0; margin-left: 30px; font-family:PT Sans; font-size:13px; text-align: justify;}
ul.listp{margin-bottom: 0; margin-left: 16px; font-family:PT Sans; font-size:13px; text-align: justify;}

table.list{
border:1px solid #ddd;
width:auto;   	
}

table.unique
{
margin:0px 0px 0px 140px!important;
font-family:PT Sans;
font-size:13px;
}

table.left
{
margin:0px 0px 0px 0px!important;
border: 1px solid #ddd!important;
font-family:PT Sans;
font-size:13px;
}

.namew
{	
width: 100%;
margin-right: -300px;
text-align: right;
font-family: PT Sans;
font-size: 24px;
}

.center-name{
margin-top: 15px;
font-family: PT Sans;
font-size: 28px;
}

<!-- Custom CSS -->
body, p { color:#434343; font-family:PT Sans; font-weight:normal; font-size:14px; line-height:24px; text-transform:none; }
#main-nav li a {font-family:PT Sans; font-weight:normal; font-size:13px; text-transform:none; }
h1 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:24px; line-height:40px; text-transform:none; }
h2 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:22px; line-height:40px; text-transform:none; }
h3 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:20px; line-height:40px; text-transform:none; }
h4 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:16px; line-height:22px; text-transform:none; }
h5 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:16px; line-height:22px; text-transform:none; }
h6 { color:#434343; font-family:PT Sans; font-weight:normal; font-size:14px; line-height:22px; text-transform:none; }
h1.logo-text a { color:#363D40; font-family:PT Sans; font-weight:bold; font-size:36px; line-height:40px; text-transform:none; }
h4#logo-tagline { color:#777777; font-family:PT Sans; font-weight:normal; font-size:15px; line-height:20px; text-transform:none; }
.main-page-title h1 { color:#434343; font-family:PT Sans; font-weight:bold; font-size:26px; line-height:38px; text-transform:none; }
h3.sub-title { color:#aaaaaa; font-family:PT Sans; font-weight:normal; font-size:18px; line-height:28px; text-transform:uppercase; }
#footer-inner .widget-item h4.widget-title-inner { color:#cccccc; font-family:PT Sans; font-weight:normal; font-size:18px; line-height:24px; text-transform:uppercase; }
#footer-inner { color:#999999; font-family:PT Sans; font-weight:normal; font-size:13px; line-height:20px; text-transform:none; }
.hb-button, input[type=submit], button { color:#bbbbbb; font-family:PT Sans; font-weight:normal; font-size:15px; line-height:20px; text-transform:none; }


<!-- Custom CSS -->

<style type="text/css">
/*menu personalizado para plantilla institucional*/

#top-nav-wrapper {
float: right!important;}	
/*
.boxed-layout #header-wrapper {
background-color: transparent!important;
}*/

.boxed-layout #header-wrapper {
background-color: rgba(230,230,230,0.9);
}


#header-wrapper a {
color: #666!important;}


#top-nav-wrapper > ul > li > a:hover{
color: #333!important;
}

.today-date {
color: #666 !important;
}

#responsive-top-nav .nav-icon {
border-top-color: rgba(10,10,10,0.7);
border-bottom-color: rgba(10,10,10,0.7);
}

/*reducción de alto de zona de logo*/
#logo-wrapper {
margin-top: 0px!important;
margin-bottom: 0px!important;
}

#schema_block { display:none !important; }
.forum-archive #main-content-area { margin-top:30px; }
#main-wrapper { margin-top: 0px !important; }
#main-navigation-wrapper { margin-bottom: 5px!important; }

/*color para menu personalizado contacto*/
.contacto-menu{border-top-color: #609aaa !important;}

#main-nav > li.contacto-menu > a:hover, #main-nav > li.contacto-menu.sfHover > a{
background: #609aaa !important;}

#main-nav > li.current-menu-item.contacto-menu > a, #random-post.contacto-menu:hover, #responsive-nav.contacto-menu:hover, .responsive-nav-wrapper.responsive-active.contacto-menu #responsive-nav{background: #609aaa !important;}

/*color para menu personalizado home*/
.home-menu{border-top-color: #3a5e85 !important;}

#main-nav > li.home-menu > a:hover, #main-nav > li.home-menu.sfHover > a{
background: #3a5e85 !important;}

#main-nav > li.current-menu-item.home-menu > a, #random-post.home-menu:hover, #responsive-nav.home-menu:hover, .responsive-nav-wrapper.responsive-active.home-menu#responsive-nav{background: #3a5e85 !important;}

/*escondiendo fecha de carousel*/
.carousel-post-meta { visibility: hidden;}


/*Menu ancho*/
#main-nav > li > a {
padding: 8px 9px 10px 17px!important;
}

@media only screen and (min-width: 1100px) {
#main-navigation-wrapper {
margin-left: 0px!important;
margin-right: 0px!important;
width: 1070px!important;
padding-left: 0px!important;
padding-right: 0px!important;
}
}


/*color para menu personalizado la universidad*/
.launiversidad-menu{border-top-color: #16BDDF !important;}
main-nav > li.launiversidad-menu > a:hover, #main-nav > li.launiversidad-menu.sfHover > a{background: #16BDDF !important;}
#main-nav > li.current-menu-item.launiversidad-menu > a, #random-post.launiversidad-menu:hover, #responsive-nav.launiversidad-menu:hover, .responsive-nav-wrapper.responsive-active.launiversidad-menu #responsive-nav{background: #16BDDF !important;}

/*color para menu personalizado admision*/
.admision-menu{border-top-color: #CC566E !important;}
#main-nav > li.admision-menu > a:hover, #main-nav > li.admision-menu.sfHover > a{background: #CC566E !important;}
#main-nav > li.current-menu-item.admision-menu > a, #random-post.admision-menu:hover, #responsive-nav.admision-menu:hover, .responsive-nav-wrapper.responsive-active.admision-menu #responsive-nav{background: #CC566E !important;}
/*color para menu personalizado pregrado*/
.pregrado-menu{border-top-color: #DFC034 !important;}
#main-nav > li.pregrado-menu > a:hover, #main-nav > li.pregrado-menu.sfHover > a{background: #DFC034 !important;}
#main-nav > li.current-menu-item.pregrado-menu > a, #random-post.pregrado-menu:hover, #responsive-nav.pregrado-menu:hover, .responsive-nav-wrapper.responsive-active.pregrado-menu #responsive-nav{background: #DFC034 !important;}
/*color para menu personalizado postgrado*/
.postgrado-menu{border-top-color: #383D65 !important;}
#main-nav > li.postgrado-menu > a:hover, #main-nav > li.postgrado-menu.sfHover > a{background: #383D65 !important;}
#main-nav > li.current-menu-item.postgrado-menu > a, #random-post.postgrado-menu:hover, #responsive-nav.postgrado-menu:hover, .responsive-nav-wrapper.responsive-active.postgrado-menu #responsive-nav{background: #383D65 !important;}
/*color para menu personalizado investigacion*/
.investigacion-menu{border-top-color: #23877B !important;}
#main-nav > li.investigacion-menu > a:hover, #main-nav > li.investigacion-menu.sfHover > a{background: #23877B !important;}
#main-nav > li.current-menu-item.investigacion-menu > a, #random-post.investigacion-menu:hover, #responsive-nav.investigacion-menu:hover, .responsive-nav-wrapper.responsive-active.investigacion-menu #responsive-nav{background: #23877B !important;}
/*color para menu personalizado extension*/
.extension-menu{border-top-color: #8CAB44 !important;}
#main-nav > li.extension-menu > a:hover, #main-nav > li.extension-menu.sfHover > a{background: #8CAB44 !important;}
#main-nav > li.current-menu-item.extension-menu > a, #random-post.extension-menu:hover, #responsive-nav.extension-menu:hover, .responsive-nav-wrapper.responsive-active.extension-menu #responsive-nav{background: #8CAB44 !important;}
/*color para menu personalizado internacional*/
.internacional-menu{border-top-color: #AA5C38 !important;}
#main-nav > li.internacional-menu > a:hover, #main-nav > li.internacional-menu.sfHover > a{background: #AA5C38 !important;}
#main-nav > li.current-menu-item.internacional-menu > a, #random-post.internacional-menu:hover, #responsive-nav.internacional-menu:hover, .responsive-nav-wrapper.responsive-active.internacional-menu #responsive-nav{background: #AA5C38 !important;}

#main-nav > li.current-menu-ancestor > a, 
			#main-nav > li.current-item > a, 
			.current-focus-background-color, .tipsy-inner, 
			.page-pagination a.current, 
			.comments .blog-comment-pagination span.current, 
			.hb-button, input[type=submit], button { background-color: #498AB8; }




.menu-item-p
{
   background-color:#498AB8;
   color:white;
}

.menu-item-c
{
   background-color:#609aaa;
   color:white;
}

li.current-menu-ancestor.menu-item-p > a {
	background-color:#498AB8;
   color:white;
}

/*menu personalizado para plantilla institucional*/
/*

#top-nav-wrapper {
float: right!important;}	

.boxed-layout #header-wrapper {
background-color: transparent!important;
}

#header-wrapper {
background: transparent!important;
}

#header-wrapper a {
color: #666!important;}


#top-nav-wrapper > ul > li > a:hover{
color: #333!important;
}

.today-date {
color: #666 !important;
}
*/

/*corrección responsive para titulo de pagina */
@media only screen and (min-width: 1020px) {
#right-ad{ margin-top: 20px;}
}
@media only screen and (max-width: 870px) {
#right-ad.floatright {
float: inherit!important;
display: inherit!important;}
}

@media all and (max-width: 870px) {
/* Make all columns equal */
	.row *[class *= "col-"] { width:100%; }
	/* Hide Stuff */
	#top-nav-wrapper, .bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-forum-topic-count, .bbp-forum-reply-count { display:none; }
	/* Show Stuff */
	.responsive-top-nav-wrapper { display:inline-block; }
}

#main-nav > li ul li a {
font-weight: normal!important;
text-transform: none!important;
}

#right-ad {
margin-top: 8px!important;
}

#right-ad a>img {
margin-bottom: 10px;
margin-right: 30px;
}

h3 {
line-height: 30px!important;
}

.botonancho150.wpb_button.wpb_btn-large{
width:150px;
margin:2px;
}
.botonancho180.hb-button, input[type=submit], button {
width:180px;
margin:2px;
}</style>
<!-- Custom CSS END -->
