<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="author" content="Carlos Begazo" >-->
    <meta name="author" content="Centro de Investigación e Innovación en Ciencia de la Computación" >
    <meta name="keywords" content="ucsp, san pablo, arequipa, investigacion, computer science, ciencia computacion, catholic university peru" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="rights" content="Derechos Reservados, Universidad Católica San Pablo 2013 - 2015" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="http://www.ucsp.edu.pe/favicon.ico">
{% include og.html %}

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootswatch.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">
     <link href="/css/cs-spec.css" rel="stylesheet">
     <link href="/css/bootstrap.vertical-tabs.css" rel="stylesheet">
     
     <!-- Pixel facebbok, publicidad maestría-->
     
     <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1424174151197626');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1424174151197626&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Pixel facebbok, publicidad maestría-->
       
     
  </head>
  <body>
    <div class="container">

      {%include ucsp-nav.html %}
      
      <!-- // Header -->
      <div class="page-header" id="banner" style="margin: 0 0 0!important;">
        <div class="row">
          <div class=" col-sx-12 col-sm-6 col-lg-4 col-md-4">
            <a href="http://ucsp.edu.pe" target="_blank">
            <img src="/img/logo-ucsp.png" alt="{{ site.name }}" class="img-responsive">
            </a>
          </div>
          <div class="col-sx-12 col-sm-6 col-lg-8 col-md-8 " align="right">
            <img src="/img/logo-rics.jpg" alt="Centro de Investigación e Innovación en Ciencia de la Computación" class="img-responsive">
          </div>
        </div>
      </div>
      <!-- Header // -->
      
      <!-- // Navigation bar -->
      <div class="bs-docs-section clearfix">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home glyp-size" aria-hidden="true"></span></a>
            </div>
            <!-- // CS NavBar -->
            {% include rics-navbar.html %}
            <!-- CS NavBar // -->
          </div>
        </nav>
      </div>
      
      <!-- // Content -->
      {% if page.path == "index.html" %}
      <div class="row">
	{{ content }}
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-12 col-md-12">
          {{ content }}
        </div>
        <!-- <div class="col-lg-3 col-md-3">
          {% include noticias.html %}
        </div>-->
      </div>
      {% endif %}
      <!-- // Footer -->
       <!-- /. UCSP Footer -->
     
      <footer>
      <div class="row">
      		<div class="col-lg-3 col-md-3">
            	{%include ucsp-footer1.html %}
        	</div>
        	<div class="col-lg-3 col-md-3">
            	{%include ucsp-footer2.html %}
        	</div>
           	<div class="col-lg-3 col-md-3">
            	{%include ucsp-footer3.html %}
        	</div>
            <div class="col-lg-3 col-md-3">
            	{%include ucsp-footer4.html %}
        	</div>
            
        	<div class="col-lg-12 col-md-12">
            <hr style="border-top: 1px solid #555!important;" />
            {%include ucsp-footer5-copyright.html %}
            
        	</div>

      </div>
        <!--<div class="row">
          <div class="col-lg-12">
            
            <hr>
            <p class="pull-right"><a href="#">Arriba</a></p>
            <p>
            Campus Campiña Paisajista s/n Quinta Vivanco, Barrio de San
            Lázaro, Arequipa | Telf: +51 54 605630, +51 54 605600  anexo
            200, 300 ó 390 | Escríbenos a: <a href="mailto:internacional@ucsp.edu.pe">institucional@ucsp.edu.pe</a>
            </p>
            <p>
            Todos los Derechos Reservados 2016 © · <a href="http://www.ucsp.edu.pe/">Universidad Católica San Pablo</a> | <a href="http://ucsp.edu.pe/terminosycondiciones/">Términos y Condiciones</a>
            </p>
          </div>
        </div>-->
      </footer>
      <!-- Footer // >
    </div><!-- /.container -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/tabs.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50793146-1', 'ucsp.edu.pe');
    ga('send', 'pageview');
    </script>
    <script>
	$(document).ready(function(){$('#carousel-home').carousel();
	});
	</script>
    </body>
</html>
