<!DOCTYPE html>
<html lang="es-ES">
<head>

<!-- Basic Page Needs 
========================================================= -->
<meta charset="UTF-8">
<title>Centro de Investigación e Innovación en Ciencia de la Computación </title>

<!-- Mobile Specific Metas & Favicons
========================================================= -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="http://www.ucsp.edu.pe/favicon.ico">

<!-- Facebook Meta
========================================================= -->
<meta property="og:title" content="Centro de Investigación e Innovación en Ciencia de la Computación"/>

	

<link rel='stylesheet' id='contact-form-7-css'  href='/css/rics/contact-form.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-montserrat-font-css'  href='//fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-open-sans-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-css'  href='/css/rics/orbit.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-bootstrap-css'  href='/css/rics/orbit-bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='/css/rics/font-awesome-min.css' type='text/css' media='screen' /> <!--LOGOS DE HOME Y BUSCAR-->
<link rel='stylesheet' id='rs-plugin-settings-css'  href='/css/rics/settings.css' type='text/css' media='all' />

<link rel='stylesheet' id='page-list-style-css'  href='/css/rics/page-list.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/css/main.css' type='text/css' media='all' />
<link rel="stylesheet" id='events-custom-style-css' href="/css/rics/events-custom.css" type="text/css" media="all">
<link rel='stylesheet' id='stylesheet-css'  href='/css/rics/main-style.css' type='text/css' media='all' />
<link rel='stylesheet' id='hb_fontawesome_style-css'  href='/css/rics/font-awesome.css' type='text/css' media='all' /><!--LOGOS DE HOME Y BUSCAR AJUSTA TAMAÑO-->
<link rel='stylesheet' id='hb_pt_sans-css'  href='http://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700&#038;ver=1.0' type='text/css' media='all' /><!--Aumenta tamaño de letra de menus-->
<link rel='stylesheet' id='hb_droid_serif-css'  href='http://fonts.googleapis.com/css?family=Droid+Serif&#038;ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='hb_fancybox_style-css'  href='/css/rics/fancybox.css' type='text/css' media='all' />
<link rel='stylesheet' id='options_typography_PT+Sans-css'  href='http://fonts.googleapis.com/css?family=PT+Sans' type='text/css' media='all' />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/jquery.migrate.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.tools.min.js'></script><!--SLIDER-->
<script type='text/javascript' src='/js/jquery.themepunch.revolution.min.js'></script><!--IMPORTANT-->
<script type='text/javascript' src='/js/jquery.easing.js'></script>

<!--ESTILO PREDETERMINADO-->
<link rel='stylesheet' id='custom-style-css'  href='/css/rics/custom-style.css' type='text/css' media='all' />

<!-- Principal BANNER -->
	<link rel="stylesheet" type="text/css" href="banner/engine1/style.css" />
	<!--<script type="text/javascript" src="banner/engine1/jquery.js"></script>
<!-- End Principal BANNER -->

	<script type="text/javascript" src="http://ucsp.edu.pe/cpsc/wp-content/themes/BulletPressWP/framework/scripts/libs/jquery-flexslider/jquery.flexslider.js?ver=6f0bb10e097d3d453efcd51a33b37f67"></script>

</head>

<body class="home page page-id-1111 page-template-default hide-top-line wpb-js-composer js-comp-ver-4.4.2 vc_responsive">
		
<!-- BEGIN #main-wrapper -->
<div id="main-wrapper" class="boxed-layout with-header-search with-carousel-slider">
	<!-- BEGIN #header-wrapper -->
	<div id="header-wrapper">
		<!-- BEGIN .container -->
		<div class="container clearfix">
			<!-- BEGIN #header-search -->
	      <div class="floatright" id="header-search" title="Search">
	          <span class="icon-search"></span>
	               <div class="header-search-form">
                  	<span class="arrow-up"></span>
	               	<form action="http://rics.ucsp.edu.pe" role="search" method="get">
	                		<input type="text" name="s" id="search" class="search-input" placeholder="Buscar y presionar enter..." autocomplete="off"/>
	               	</form>
		            </div>
	      </div>
	      <!-- END #header-search -->				
	      
	      <!-- UCSP navbar -->
				{%include ucsp-nav.html %}
      	<!-- UCSP navbar --> 
      	
			<!-- BEGIN Top Responsive Navigation -->
			<div class="responsive-top-nav-wrapper">
				<div id="responsive-top-nav">
					<div class="nav-icon"></div>
				</div>
				<div id="top-resp-menu"></div>
			</div>
			<!-- END Responsive Navigation -->     					
		</div>
		<!-- END .container -->
	</div>
	<!-- END #header-wrapper -->

	<!-- BEGIN #content-wrapper -->
	<div id="content-wrapper">
		<!-- BEGIN #logo-wrapper -->
		<div id="logo-wrapper" class="container clearfix">		
			<!-- BEGIN #logo -->
			<div id="logo" class="floatleft">
					<a href="http://ucsp.edu.pe">
						<img src="/img/logo-ucsp-RICS.png" alt="Centro de Investigación e Innovación en Ciencia de la Computación" />
					</a>
			</div>
			<!-- END #logo -->
			<div id="logo-rics" class="floatright" style="width:50%; height: 70%; margin-top:8px">				
				<!--<div class="namew">
           		<h1 class="center-name" style="margin-top:25px;">{{ site.name }}</h1>
          	</div>	-->
                         <a class="leaderboard-ad" href="http://rics.ucsp.edu.pe">
			     <img src="/img/logo-rics.png" alt="Centro de Investigación e Innovación en Ciencia de la Computación" />
		         </a>
			</div>	
		</div>
		<!-- END #logo-wrapper -->

		<!-- /. RICS NavBar -->
      {% include rics-navbar.html %}
      <!-- ./ RICS NavBar -->						
			
		<!-- /. MAIN CONTENT -->
		<div id="main-content-area" class="container clearfix">
			{{ content }}
	   </div>
      <!-- /. MAIN CONTENT -->
        
      <!-- /. UCSP Footer -->
      {% include ucsp-footer.html %}
		<!-- ./ RICS NavBar -->
	
      <!-- /. JScript -->
      {% include js.html %}
		<!-- ./ JScript -->
	</div>
   <!-- END #content-wrapper -->
</div>
<!-- END #main-wrapper -->

</body>
</html>

